<% @clusters.each do |cluster| %>
  <div class="row">
    <div class="col-md-4">
      <div class="x_panel">
        <div class="x_title">
          <h2><%= cluster.name %> <small>cluster</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <% cluster.cluster_node_events.each do |event| -%>
          <article class="media event">
            <div class="media-body">
              <a class="title" href="#"><%= event.name %></a>
              <p>Created: <%= time_ago_in_words(event.created_at) %></p>
              <p>Image version: v<%= event.image_version %></p>
            </div>
          </article>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end %>
