
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Run PostgreSQL anywhere you run Docker.</h1>
        <h2>Continuously archived from Day 1.</h2>
      </div>
      <div class="col-md-6">
        {{template "terminal-window" .TerminalWindows.get_started}}
      </div>
  </div>
</div>
