
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Run PostgreSQL anywhere you run Docker.</h1>
        <h2>Continuously archived from Day 1.</h2>
      </div>
      <div class="col-md-6">
        {{template "terminal-window" .TerminalWindows.get_started}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-2">
      <img src="/images/postgresql-logo.png" alt="PostgreSQL" style="width: 100%;"/>
    </div>
    <div class="col-xs-12 col-md-3">
      <h3>PostgreSQL is the world's most advanced open source database.</h3>
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="/images/docker-logo.png" alt="Docker" style="width: 100%;"/>
    </div>
    <div class="col-xs-12 col-md-3">
      <h3>Docker gives you the choice of any infrastructure whether in the cloud, on VMs or baremetal servers.</h3>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-2">
    </div>
    <div class="col-xs-12 col-md-3">
      <h3>Move your database between servers.</h3>
      <h3>Built-in disaster recovery.</h3>
    </div>
    <div class="col-xs-12 col-md-2">
    </div>
    <div class="col-xs-12 col-md-3">
      <h3>Coming soon: achieve high availability failovers by running multiple containers.</h3>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
</div>

<br />

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Got 3 minutes?</h1>
          <br />
          <p><a class="btn btn-primary btn-lg" href="/tutorial" role="button">Get started</a></p>
        </div>
        <div class="col-md-6">
          {{template "terminal-window" .TerminalWindows.get_started}}
        </div>
      </div>
    </div>
  </div>
</div>
