
{{template "terminal-window" .TerminalWindows.get_started}}
{{template "terminal-window" .TerminalWindows.show_usage}}
{{template "terminal-window" .TerminalWindows.docker_host_ip_dockermac}}
{{template "terminal-window" .TerminalWindows.docker_host_ip_docker_machine}}
{{template "terminal-window" .TerminalWindows.docker_run_5000}}
